html, body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Gotham A","Gotham B", sans-serif;
  font-weight: 400;
  color: #404040;
}

.ani {
  width: 200px;
  text-align: center;
  align-self: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: -50px;
}

.inner {
  margin: 0 auto;
}

h1 {
  font-family: "Gotham A","Gotham B", sans-serif;
  align-self: center;
  text-align: left;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

